.BlogsPage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.5rem;
    text-align: center;

    .blog{
        background-color: #fff7f7;
        width: 100%;

        padding: 1rem;
        overflow: hidden;

        .blog-content{
            overflow: hidden;
            padding-bottom: 2rem;

            img{
                width: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
                transition: all .2s ease-in-out;

                &:hover{
                    transform : scale(1.1)
                }
                padding-bottom: 2rem;
            }

            .blog-link{
                color: #ce7575;
                font-family: inherit;
                text-decoration: none;
                font-size: 1.5rem;
                padding-bottom: 3rem;
                transition: all .4s ease-in-out;



                &:hover{
                    color: #dd4646;
                }
            }

        }
    }
}
.b-title{
    margin-bottom: 4rem;
}