.App{
    .sidebar{
        width: 20%      ;
        height: 100vh;
        background-color: #fff6f9; 
        position: fixed;
        z-index: 11;
        border-right: 1px;
        transform-origin: left;

        @media screen and (max-width : 1000px)
        {
            transition : all .4s ease-in-out;

            transform: translateX(-100%);
            width: 30%;

        }

        
        @media screen and (max-width : 411px)
        {
            
            width: 50%;

        }


    }
    .nav-toggle{
        @media screen and (max-width : 1000px)
        {
            transition : all .4s ease-in-out;
            transform: translateX(0);
        }
    }
    .main-content{
        width: 80%;
        margin-left: 20%;
        background-color: #FFFFFF;
        min-height: 100vh;

        position: relative;
        
        .content{
           margin-left: 15rem;
           margin-right: 15rem;
           padding-top: 4rem;
           margin-bottom: 3rem;

         
          
         }
         @media screen and (max-width : 1000px)
         {
            margin-left: 0;
            width: 100%;
         }

        
        
    }
}

.nav-btn{
    position: absolute;
    z-index: 10;
    right: 10%;
    top: 5%;
    width: 4rem;
    height: 4rem;
    display: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    .lines-1, .lines-2, .lines-3{
        height: .4rem;
        width: 100%;
        background-color: salmon;
        pointer-events: none;
        display: none;
        border-radius: 20px;
        &:not(:last-child){
            margin-bottom: .5rem;
        }
    }
    @media screen and (max-width: 1000px){
        display: block;
        .lines-1, .lines-2, .lines-3{
            display: block;
        }
    }
}