.Services{
    .service{
        width: 99%; 
        background-color: #f9eeec;
        border-left: 1px solid #f9eeec;
        border-right: 1px solid #f9eeec;
        border-bottom: 1px solid #f9eeec;
        border-top: 8px solid #f9eeec;
        transition: all .4s ease-in-out;
        
        img{
            height: 40vh;
            width: 50vh;
            object-fit: cover;
        }

        
        &:hover{
            border-top: 5px solid lightcoral;
        }

        .service-content{
          
            padding: 1rem ;

            
            .service-title{
                font-size: 1.6rem;
                font-weight: 500;
                position: relative;
                padding-bottom: 1rem;
                margin: 1rem 0;
                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 30%;
                    height: 1px;
                    background-color: lightcoral;
                }
            }
        }
    }
}

.services-container{
    display: flex;
    justify-content: space-between;   
    margin-top: 4rem;
}