.HomePage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50%,-50%);
    width: 80%;
    
    
}
.hero-text{
    color: rgb(105, 104, 104);
    text-align: center;
    font-size: 3.6rem;

   span{
       color : #f9c3c3; 
       
   } 
}

.h-sub-text{
    text-align: center;
}

.icons{    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;

    .icon-holder{
        margin-right: 1rem; 

        .icon{
            
                font-size: 2.8rem;
                color : #fbe4e4;
                transition: all .4s ease-in-out;


            }
            .tw:hover{
               color: #1da1f2;
            }
            .fb:hover{
                color: #1877f2;
             }
             .gh:hover{
                color: #141518;
             }
        }

    }


